<script type="text/javascript" src="js_models/course/ajax_search_course.js"></script>
<script type="text/javascript">
$(function() {
    $("#Pro_search").click(function() {
        let ajax_search_course = new Ajax_Search_Course("course", "search", "course_type=Pro");
        ajax_search_course.Run();
    })
})
</script>
<style type="text/css">
	.td_content{
		padding-right: 20px;
		border-bottom-style: solid;
	}
</style>
<div class="course_infor">
    <p>課程搜尋結果會將已修過且取得學分之課程以紅色字顯示</p>
    <span id="Pro_search"><a href="#">專業課程查詢</a></span></br>
    <span><a href="#">通識課程查詢</a></span></br>
    <span><a href="#">體育課程查詢</a></span></br>
    <span><a href="#">軍訓課程查詢</a></span></br>
    <span><a href="#">歷年成績查詢</a></span></br>
    <span><a href="#">歷年課表課程查詢</a></span></br>
    <span><a href="#">本學期課程評價填寫</a></span></br>
    <span><a href="#">畢業門檻查詢</a></span></br>
    <div id="course_content">
    </div>
</div>
