<style type="text/css">
	.login_infor{
		width: 100%;
		text-align: center;
		font-size: 25px;
	}
</style>
<script type="text/javascript">
	$(function(){
		$("#login").click(function(){
			// 傳入 controller , action , arg
			let ajax_login = new Ajax_Login("login","login",$("#form_infor").serialize());
			ajax_login.Run();
		})
	})
</script>
<div class="login_infor">
	<form id="form_infor">
		帳號：<input type="text" name="user" required/><br>
		密碼：<input type="password" name="pwd" required/><br>
		<hr>
		<button id="login" class="confirm" type="button">Login</button>
		<input type="reset" value="Reset"/>
		<span><a href="/MVC?controller=login&action=show_forget">忘記密碼</a></span>
	</form>
</div>